@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ scroll-behavior: smooth;}
::selection{background: #e71c1c; color:#fff5d8;}
:root{
	--mrgn-half: calc(var(--mrgn) / 2);  /*9px*/
	--mrgn:      18px;
	--mrgn-x2:   calc(var(--mrgn) * 2); /*36px*/
	--mrgn-x4:   calc(var(--mrgn) * 4); /*72px*/
	--mrgn-x8:   calc(var(--mrgn) * 8);/*144px*/

	--basic-width : 1200px;
	--basic-font-size: 14px;

	--color-main:  #fff5d8;
	--color-point: #e71c1c;
	--color-sub:   #222;
	--color-sub-bg:#fff9f3;

	--color-w-000: rgba(255, 255, 255, 0);
	--color-w-015: rgba(255, 255, 255, .15);
	--color-w-025: rgba(255, 255, 255, .25);
	--color-w-035: rgba(255, 255, 255, .35);
	--color-w-050: rgba(255, 255, 255, .5);
	--color-w-065: rgba(255, 255, 255, .65);
	--color-w-075: rgba(255, 255, 255, .75);
	--color-w-085: rgba(255, 255, 255, .85);
	--color-w-090: rgba(255, 255, 255, .9);
	--color-w:   #fff;

	--color-k-000: rgba(0, 0, 0, 0);
	--color-k-008: rgba(0, 0, 0, .08);
	--color-k-015: rgba(0, 0, 0, .15);
	--color-k-025: rgba(0, 0, 0, .25);
	--color-k-035: rgba(0, 0, 0, .35);
	--color-k-050: rgba(0, 0, 0, .5);
	--color-k-065: rgba(0, 0, 0, .65);
	--color-k-075: rgba(0, 0, 0, .75);
	--color-k-085: rgba(0, 0, 0, .85);
	--color-k:   #000;
}
html, body{ position: relative; min-width: var(--basic-width); background: var(--color-main); color: var(--color-k); font-size: var(--basic-font-size); font-family: "Poppins";}
.fa-solid, .fa-regular, .fa-light, .fa-thin{ line-height: inherit;}
.wrap{ position: relative;}
.sections{ position: relative;}
.sections.dark{ color: var(--color-w);}
.sections.red{ color: var(--color-w); background: var(--color-point) !important;}
.sections.red .width_con .title_con h3{ color: var(--color-main); }
.sections.red .width_con .title_con h4:before{ background: var(--color-main);}
.width_con{ position: relative; margin: 0 auto; width: var(--basic-width); padding: var(--mrgn-x8) 0;}
.sections.sub_bg{ background: var(--color-sub-bg) !important;}

h1, h2, h3, h4, h5, h6{ position: relative;}
h1, h2{     line-height: .815em; text-transform: uppercase;}
h3{         line-height: .815em;}
h4, h5, h6{ line-height: 1.25em;}
h1{ font-size:  8.5em; font-weight: 600;}
h2{ font-size:    6em; font-weight: 600;}
h3{ font-size:    2em; font-weight: 600;}
h4{ font-size: 1.45em; font-weight: 500;}
h5{ font-size:    1em; font-weight: 500;}
h6{ font-size:  .85em; font-weight: 400;}
b{                     font-weight: 600;}

.center{ text-align: center;}
.sticky { position: sticky !important; top: 100px;}
.line{ width: var(--basic-width); height: 3px; box-shadow: inset 0 -1px 0 0 var(--color-k-015); background: var(--color-w-035); margin: var(--mrgn-x4) auto; border-radius: 50%;}

.title_con{ position: relative;}
.title_con + *{ margin-top:   var(--mrgn-x4) !important;}
.title_con h1{ margin-bottom: var(--mrgn-x2);}
.title_con h2{ margin-bottom: var(--mrgn-x2);}
.title_con h3{ margin-bottom: var(--mrgn); color: var(--color-point);}
.title_con h4{ margin-bottom: var(--mrgn);}
.title_con h4:before{ position: absolute; top: calc(var(--mrgn) * -1); left: 0; content: ''; width: var(--mrgn-x2); height: 3px; background: var(--color-point);}
.title_con.center h4:before{ left: 50%; transform: translateX(-50%) !important;}
.title_con h5{}
.title_con h6{}

/*btn_con*/
.btn_con{ margin-top: var(--mrgn-x2) !important;}
.btn_con.btn_a > a { text-decoration: none; position: relative; display: inline-block; width: auto; height: 48px; padding: 0 var(--mrgn-x2); background: var(--color-point); line-height: 48px; text-align: center; border-radius: var(--mrgn-half); box-shadow: 0 10px 30px -10px var(--color-k-065);transform: scale(1); transition: all 150ms ease-in-out;}
.btn_con.btn_a> a:before { content: ''; position: absolute; top: 3px; left: 3px; width: calc(100% - 6px); height: calc(100% - 6px); box-shadow: inset 0 0 0 2px var(--color-w); border-radius: calc(var(--mrgn-half) - 2px); mix-blend-mode: soft-light; opacity: 0; transition: inherit;}
.btn_con.btn_a> a:hover:before { opacity: 1; transition: inherit;}
.btn_con.btn_a:active > a { background: var(--color-w); box-shadow: 0 1px 3px -1px var(--color-k); transform: scale(.985);}
.btn_con.btn_a:active > a > span{ color: var(--color-point);}
.btn_con.btn_a > a > span{ font-weight: 600; font-family: inherit; font-size: 1.45em; color: var(--color-w);  text-transform: uppercase; transition: inherit;} 
/*btn_con*/

/* logo badge*/
.logo_badge{ position: absolute; width: 72px; aspect-ratio: 1/1; top: 0; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; background: var(--color-point); z-index: 2;}
.logo_badge:before,
.logo_badge:after{ position: absolute; top: 50%; width: 9px; aspect-ratio: 1/1; content:''; transform: translate(0, -100%);}

.logo_badge:before{ left: 98.5%; background: radial-gradient( circle at 100% 0%, var(--color-w-000) calc(var(--mrgn-half) - .5px), var(--color-point) var(--mrgn-half));}
.logo_badge:after{ right: 98.5%; background: radial-gradient( circle at 0% 0%, var(--color-w-000) calc(var(--mrgn-half) - .5px), var(--color-point) var(--mrgn-half));}

.logo_badge > div{ width: 84%; height: 84%; background: url(../img/logo_sanders.svg) no-repeat 50% 50% / var(--mrgn-x2); border-radius: 50%; margin: 16% 8% 0;}
/* logo badge*/
.sections .width_con .btn_con,
.sections .width_con .title_con h2,
.sections .width_con .title_con h3,
.sections .width_con .title_con h4,
.sections .width_con .title_con h5,
.sections .width_con .title_con h6,
.sections .width_con .title_con div{ opacity: 1; filter: blur(0); transform: translateY(0); transition: all 1200ms ease-out;}
.sections .width_con .title_con h4:before{ transition: inherit;}

.sections .width_con .title_con h1,
.sections .width_con .title_con h2{       transition-delay: 200ms;}
.sections .width_con .title_con h4{       transition-delay: 400ms;}
.sections .width_con .title_con h5{       transition-delay: 600ms;}
.sections .width_con .title_con h6{       transition-delay: 800ms;}
.sections .width_con .title_con .btn_con{ transition-delay: 900ms;}

.sections.wait_scroll .width_con .btn_con,
.sections.wait_scroll .width_con .title_con h2,
.sections.wait_scroll .width_con .title_con h3,
.sections.wait_scroll .width_con .title_con h4,
.sections.wait_scroll .width_con .title_con h5,
.sections.wait_scroll .width_con .title_con h6,
.sections.wait_scroll .width_con .title_con div{ opacity: 0; filter: blur(4px); transform: translateY(var(--mrgn-x2));}
.sections.wait_scroll .width_con .title_con h4:before{ width: var(--mrgn-x8);}

ul.v_con{ width: calc(100% + var(--mrgn-x2)); margin: 0 calc(var(--mrgn) * -1) calc(var(--mrgn-x2) * -1); position: relative;}
ul.v_con > li.cells{ position: relative; display: inline-block; margin: 0 var(--mrgn) var(--mrgn-x2); width: calc(100% - var(--mrgn-x2)); border-radius: var(--mrgn-half);}
ul.v_con.middle > li.cells{ vertical-align: middle !important;}
ul.v_con > li.cells.bg_box,
ul.v_con > li.cells.box{ transform: scale(1); transition: all 100ms ease-in-out;}


ul.v_con > li.cells.box:has(> a){ cursor: pointer;}
ul.v_con > li.cells.box:hover:has(> a){}
ul.v_con > li.cells.box:active:has(> a){ transform: scale(.975);}

/*기본 box*/
ul > li.cells.box > a{ display: block; aspect-ratio: inherit; border-radius: inherit;  transition: inherit; box-shadow: 0 10px 30px -10px var(--color-k-065); filter: brightness(1); text-decoration: none;}
ul > li.cells.box > a:before{ content: ''; position: absolute; top: 3px; left: 3px; width: calc(100% - 6px); height: calc(100% - 6px); box-shadow: inset 0 0 0 2px var(--color-w); border-radius: calc(var(--mrgn-half) - 2px); mix-blend-mode: soft-light; opacity: 0; transition: inherit;}
ul > li.cells.box:hover > a:before{ opacity: 1; transition: inherit;}
/*바뀌는 속성만 적어주세요*/
ul > li.cells.box:hover > a{ filter: brightness(1.1);}
ul > li.cells.box:active > a{ box-shadow: 0 1px 3px -1px var(--color-k); filter: brightness(.9); transform: scale(0.985);}
ul > li.cells > img,
ul > li.cells > a > img{ transition: inherit; width: 100%; border-radius: inherit;}
/*기본 box*/




ul.v_con.two_con   > li.cells{ width: calc(50%     - var(--mrgn-x2));}
ul.v_con.three_con > li.cells{ width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.four_con  > li.cells{ width: calc(25%     - var(--mrgn-x2));}
ul.v_con.six_con   > li.cells{ width: calc(16.666% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n-1){  width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n){    width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n-1){ width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n){   width: calc(33.333% - var(--mrgn-x2));}


.text_con{ position: absolute; bottom: 0; left: 0; box-sizing: border-box; padding: var(--mrgn-half) var(--mrgn); width: 100%; border-radius: inherit; pointer-events: none; color: var(--color-w);}
.text_con:before{ position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; border-radius: inherit; backdrop-filter: blur(20px); mask-image: linear-gradient(0deg, var(--color-w) 10%, var(--color-w-050) 70% ,var(--color-w-000) 90%); overflow: hidden;}
ul.v_con > li.cells .text_con:has(> h4){padding: var(--mrgn);}
ul.v_con > li.cells .text_con h4,
ul.v_con > li.cells .text_con h5,
ul.v_con > li.cells .text_con h6{ color: var(--color-k); line-height: 1em; margin-top: var(--mrgn-half); text-transform: uppercase;}
ul.v_con > li.cells .text_con h4{}
ul.v_con > li.cells .text_con h5{}
ul.v_con > li.cells .text_con h6{}


/*bg_box*/
ul > li.cells.bg_box{ backdrop-filter: blur(7px); transition: all 150ms ease-in-out;}
ul > li.cells.bg_box > a{ display: block; aspect-ratio: inherit; border-radius: var(--mrgn-half); background: linear-gradient(0deg, var(--color-w-075) 0%,var(--color-k-008) 44%,var(--color-w-075) 50%,var(--color-k-008) 100%); box-shadow: 0 10px 30px -10px var(--color-k-065); filter: brightness(1); text-decoration: none; transform: scale(1); overflow: hidden; transition: all 150ms ease-in-out;}
ul > li.cells.bg_box > a:before{content: ''; position: absolute; top: 3px; left: 3px; width: calc(100% - 6px); height: calc(100% - 6px); box-shadow: inset 0 0 0 2px var(--color-w); border-radius: calc(var(--mrgn-half) - 2px); mix-blend-mode: soft-light; opacity: 0; transition: all 150ms ease-in-out; z-index: 1;}
ul > li.cells.bg_box > a:hover:before{opacity: 1; transition: inherit;}
ul > li.cells.bg_box:hover > a{ box-shadow: 0 10px 30px -10px var(--color-k); filter: brightness(1.1);}
ul > li.cells.bg_box:active > a{ box-shadow: 0 1px 3px -1px var(--color-k); filter: brightness(.9); transform: scale(0.985);}
ul > li.cells.bg_box > a > img{ transition: all 150ms ease-in-out;}
ul > li.cells.bg_box:hover > a > img{  transform: scale(1.05); transition: inherit;}
ul > li.cells.bg_box:active > a > img{ transform: scale(0.985); transition: inherit;}
/*bg_box*/

/*grid*/
ul.g_con{ display: grid; grid-gap: calc(var(--mrgn) * 2); grid-template-columns: repeat(6, 1fr);}
ul.g_con > li.cells{ position: relative; border-radius: var(--mrgn-half);}
ul.g_con > li.cells.square{ aspect-ratio: 1 / 1;}
.g_ratio_1x1{ padding-top: 100%;}
.g_ratio_1x2{ padding-top: calc(200% + (var(--mrgn) * 2));}
.g_ratio_1x3{ padding-top: calc(300% + (var(--mrgn) * 4));}

.g_ratio_2x1{ padding-top: calc(50% - var(--mrgn));}
.g_ratio_3x1{ padding-top: calc(33.3333% - (var(--mrgn) * 1.3));}
.g_ratio_4x1{ padding-top: calc(25% - (var(--mrgn) * 1.5));}
.g_ratio_5x1{ padding-top: calc(20% - (var(--mrgn) * 1.6));}
.g_ratio_6x1{ padding-top: calc(16.6666% - (var(--mrgn) * 1.666));}
/*grid*/

/* tile */
ul.g_con li.cells.box { transition: all 150ms ease-in-out;}
ul.g_con li.cells.box > a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: inherit; transition: inherit;}
ul.g_con li.cells.box > a > img{ transition: inherit;}
ul.g_con li.cells.box > a >.tiles{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: inherit; transition: inherit;}
ul.g_con li.cells.box > a >.tiles .text{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
ul.g_con li.cells.box > a >.tiles .text h2{ font-size: var(--mrgn-x2);}
ul.g_con li.cells.box > a >.tiles .text_con:before{ backdrop-filter: blur(6px); mask-image: linear-gradient(0deg, var(--color-w) 40%, var(--color-w-050) 100%);}
/* tile */

.selected{ pointer-events: none; box-shadow: none;}
.nomg{ margin-bottom: 0 !important;}
.ratio_1x1{  aspect-ratio:  1/1;}
.ratio_1x2{  aspect-ratio:  1/2;}
.ratio_2x1{  aspect-ratio:  2/1;}
.ratio_3x4{  aspect-ratio:  3/4;}
.ratio_4x3{  aspect-ratio:  4/3;}
.ratio_16x9{ aspect-ratio: 16/9;}
.ratio_9x16{ aspect-ratio: 9/16;}

#header.sections.section_00,
#header.sections.section_00.scrolled:hover{ position: fixed; top: 0; left: 0; width: 100%; height: 80px; z-index: 999; transition: all 200ms ease-in-out; box-shadow: 0 0 0 0 var(--color-k-000); overflow: hidden;}
#header.sections.section_00.scrolled{ height: 60px; box-shadow: 0 10px 30px -10px var(--color-k-065);}
#header.sections.section_00:hover,
#header.sections.section_00.scrolled:hover{ box-shadow: 0 10px 30px -10px var(--color-k);}

#header.sections.section_00:before,
#header.sections.section_00:after{ position: absolute; content: ''; width: 100%; transition: inherit;}
#header.sections.section_00:before{ height: 200%; top: -100%; -webkit-backdrop-filter: blur(0); backdrop-filter: blur(0); background: linear-gradient(180deg, var(--color-k-065) 15%, var(--color-k-000) 100%);}
#header.sections.section_00:after{ height: 2px; background: var(--color-point); z-index: 2;}

#header.sections.section_00:hover:before,
#header.sections.section_00.scrolled:before{ top: 0;}

#header.sections.section_00.scrolled:before,
#header.sections.section_00.scrolled:after{}
#header.sections.section_00.scrolled:before{ -webkit-backdrop-filter: blur(30px); backdrop-filter: blur(30px);}
/*
#header.sections.section_00.scrolled:after,
#header.sections.section_00:hover:after{ top: 0%; opacity: .65;}
#header.sections.section_00:hover:after{ opacity: 1;}
*/
#header.sections.section_00 .width_con{ padding: 0; z-index: 1; transition: inherit;}
#header.sections.section_00 .width_con a.btn_home,
#header.sections.section_00.scrolled:hover .width_con a.btn_home{ position: absolute; height: 50px; top: 15px; transition: inherit;}
#header.sections.section_00.scrolled .width_con a.btn_home{ height: 40px; top: 10px;}
#header.sections.section_00 .width_con a.btn_home img{ height: 100%;}

#header.sections.section_00 .width_con > ul{ position: absolute; right: 0;}
#header.sections.section_00 .width_con > ul > li{ display: inline-block; transition: all 100ms ease-in-out; color: var(--color-w-035);}
#header.sections.section_00 .width_con > ul > li > a{ display: block; color: var(--color-w); text-decoration: none; transition: inherit; text-transform: uppercase; transform: translateY(0);}
#header.sections.section_00 .width_con > ul:hover > li > a >img{opacity: 0.5;}
#header.sections.section_00 .width_con > ul:hover > li > a{ color: var(--color-w-050);}
#header.sections.section_00 .width_con > ul > li:hover > a{ color: var(--color-w);}
#header.sections.section_00 .width_con > ul > li:hover > a >img{ opacity: 1;}
#header.sections.section_00 .width_con > ul > li:active > a{ transform: translateY(1px);}
#header.sections.section_00 .width_con > ul > li > a >img{ height: var(--basic-font-size); margin-right: var(--mrgn-half);}

#header.sections.section_00 .width_con ul.nav_gnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_gnb{ top: 16px; transition: inherit; opacity: 1; filter: blur(0); pointer-events: all;}
#header.sections.section_00.scrolled .width_con ul.nav_gnb{ top: 8px; opacity: 0; filter: blur(4px); pointer-events: none;}
#header.sections.section_00 .width_con ul.nav_gnb > li{ margin-left: var(--mrgn);}
#header.sections.section_00 .width_con ul.nav_gnb > li > a{}

#header.sections.section_00 .width_con ul.nav_lnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_lnb{ top: 44px; transition: inherit;}
#header.sections.section_00.scrolled .width_con ul.nav_lnb{ top: 22px;}
#header.sections.section_00 .width_con ul.nav_lnb > li{ margin-left: var(--mrgn-x2);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a{ position: relative; font-size: 1.15em;}
#header.sections.section_00 .width_con ul.nav_lnb > li a:after{ position: absolute; content: ''; bottom: -6px; left: 0; width: 100%; height: 1px; background: linear-gradient(90deg, var(--color-w-000) 0%, var(--color-w) 25%, var(--color-w) 75%, var(--color-w-000) 100%); opacity: 0; filter: blur(2px); transition: all 200ms ease-out; }
#header.sections.section_00 .width_con ul.nav_lnb > li:hover a:after{ bottom: -2px; opacity: 1; filter: blur(0);}
/*animation*/
body.not_yet #header.sections.section_00 .width_con a.btn_home,
body.not_yet #header.sections.section_00 .width_con > ul > li{ transform: translateY(0); opacity: 1; filter: blur(0); transition: all 700ms ease-out;}
html.loading body.not_yet #header.sections.section_00 .width_con a.btn_home,
html.loading body.not_yet #header.sections.section_00 .width_con > ul > li{ transform: translateY(var(--mrgn-x4)); opacity: 0; filter: blur(4px);}
body.not_yet #header.sections.section_00 .width_con a.btn_home{ transition-delay: 500ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_gnb > li{}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li{}
body.not_yet #header.sections.section_00 .width_con > ul.nav_gnb > li:nth-child(1){ transition-delay: 550ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_gnb > li:nth-child(2){ transition-delay: 650ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_gnb > li:nth-child(3){ transition-delay: 750ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_gnb > li:nth-child(4){ transition-delay: 850ms;} 

body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(1){ transition-delay: 600ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(2){ transition-delay: 700ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(3){ transition-delay: 800ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(4){ transition-delay: 900ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(5){ transition-delay: 1000ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(6){ transition-delay: 1100ms;}
body.not_yet #header.sections.section_00 .width_con > ul.nav_lnb > li:nth-child(7){ transition-delay: 1200ms;}