@charset "UTF-8";
.btn_con{ position: relative; z-index: 20;}
.btn_con.center{ text-align: center;}

.btn{ position: relative; font-family: 'EB Garamond'; display: inline-block; vertical-align: top; width: 100%; height: 100%; line-height: 60px; text-align: center; font-size: 22px; font-weight: 400; text-decoration: none; transition: all 100ms linear; mix-blend-mode: overlay; text-transform: uppercase; filter: drop-shadow( 0px 2px 2px var(--color-k-035));}
.btn:hover{ }
.btn:active{ transform: scale(.975); filter: drop-shadow(0 2px 2px var(--color-k-035));}
.btn.selected{ filter: invert(1) drop-shadow(0 2px 2px var(--color-k-035));}
.btn span{ font-weight: 400; font-size: 0.9em; text-decoration: none;}
.btn.medium{ width: 300px;}

.btn.btn_a{ color: var(--color-sub); text-transform: uppercase; background: url(../img/btn.webp) 50% 50% no-repeat; filter: brightness(1) invert(0);}
.btn.btn_a:hover{ filter: brightness(1.2) invert(0);}
.btn.btn_a:active{}


