@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Zhi+Mang+Xing&display=swap');
*{ scroll-behavior: smooth;}
::selection{ background: #ddc5a8; color: #1e1e1e;}
:root{
	--mrgn-half:  calc(var(--mrgn) / 2);   /*9px*/
	--mrgn:       18px;
	--mrgn-x2:    calc(var(--mrgn) * 2);  /*36px*/
	--mrgn-x3:    calc(var(--mrgn) * 3);  /*54px*/
	--mrgn-x4:    calc(var(--mrgn) * 4);  /*72px*/
	--mrgn-x6:    calc(var(--mrgn) * 6); /*108px*/
	--mrgn-x8:    calc(var(--mrgn) * 8); /*144px*/
	--mrgn-x12:   calc(var(--mrgn) * 12);/*216px*/
	--mrgn-x16:   calc(var(--mrgn) * 16);/*288px*/

	--basic-width : 1200px;
	--basic-font-size: 14px;

	--color-main:  #1e1e1e;
	--color-point: #ddc5a8;
	--color-sub:   #e2e2e2;
	--color-circle:#fee8c5;

	--color-main-040:    rgba(30, 30, 30, .4);;
	--color-gradient-01: rgba(30, 30, 30, .05);
	--color-gradient-02: rgba(250, 230, 235, .05);

	--color-w-000: rgba(255, 255, 255, 0);
	--color-w-015: rgba(255, 255, 255, .15);
	--color-w-025: rgba(255, 255, 255, .25);
	--color-w-035: rgba(255, 255, 255, .35);
	--color-w-050: rgba(255, 255, 255, .5);
	--color-w-065: rgba(255, 255, 255, .65);
	--color-w-075: rgba(255, 255, 255, .75);
	--color-w-085: rgba(255, 255, 255, .85);
	--color-w:   #fff;

	--color-k-000: rgba(0, 0, 0, 0);
	--color-k-015: rgba(0, 0, 0, .15);
	--color-k-025: rgba(0, 0, 0, .25);
	--color-k-035: rgba(0, 0, 0, .35);
	--color-k-050: rgba(0, 0, 0, .5);
	--color-k-065: rgba(0, 0, 0, .65);
	--color-k-075: rgba(0, 0, 0, .75);
	--color-k-085: rgba(0, 0, 0, .85);
	--color-k:   #000;
}
html, body{ position: relative; min-width: var(--basic-width); background: var(--color-main); color: var(--color-w); font-size: var(--basic-font-size); font-family: "EB Garamond","Noto Sans KR","Noto Sans SC";}

html.custom_cursor,
html.custom_cursor body,
html.custom_cursor a,
html.custom_cursor input{ cursor: url(../img/cursor.svg),auto;}
div.circle{ position: fixed; box-sizing: border-box; border-style: solid; border-color: var(--color-circle); border-radius:50%; pointer-events: none; z-index: 99999;}
div.circle.on{ animation: circle_s 550ms ease-out;}
body.hover div.circle.on{ animation: circle 550ms ease-out;}
.fa-solid, .fa-regular, .fa-light, .fa-thin{ line-height: inherit;}
.wrap{ position: relative;}
.sections{ position: relative;}
.width_con{ position: relative; margin: 0 auto; width: var(--basic-width); padding: var(--mrgn-x8) 0;}

h1, h2, h3, h4, h5, h6{ position: relative;}
h1, h2, h3{ line-height: .815em;}
h4, h5, h6{ line-height: 1.25em;}
h1, h2{ text-transform: uppercase;}
h1{ font-size:  2.6em;}
h2{ font-size:    6em;}
h3{ font-size:  1.8em;}
h4{ font-size: 1.45em; font-weight: 300;}
h5{ font-size:    1em; font-weight: 100;}
h6{ font-size:  .85em; font-weight: 100;}
.chinese{ font-family: "Zhi Mang Xing"; font-size: 5.5em;}

h2.img_text{ font-size: 0; color: transparent; text-indent: 99999px;}

*:before,*:after{ pointer-events: none;}

.center{ text-align: center;}
.sticky { position: sticky !important; top: 100px;}
.line{ width: var(--basic-width); height: 1px; box-shadow: 0 -1px 0 0 var(--color-k-035); background: var(--color-w-015); margin: var(--mrgn-x4) auto;}

.no_b{ margin-bottom: 0 !important;}
dl { display: inline-block; padding-right: calc(var(--mrgn-half) / 2); width: 50%; box-sizing: border-box; margin-bottom: var(--mrgn-x2);}
dl:nth-child(2n-1){ padding-right: 0;}
dl dt,
dl dd{ margin-top: 0; text-align: left; line-height: 1.5em;}
dl dt{ margin-bottom: .4em; font-weight: 600;}
dl dd,
dl dd a{ font-weight: 300; font-size: .85em;}
dl dd a{ text-decoration: underline;}
dl:last-child{ margin-bottom: 0;}

.title_con{ position: relative;}
.title_con + *{ margin-top: var(--mrgn-x4) !important;}
.title_con h1{ margin-bottom: var(--mrgn-x2);}
.title_con h1:before{ position: absolute; top: calc(var(--mrgn) * 2); left: 50%; transform: translateX(-50%); content: ''; width: calc(var(--mrgn) * 27); height: 4px; background: url(../img/line_visual.webp) 50% 50% no-repeat; background-size: cover;}
.title_con h2{ margin-bottom: var(--mrgn-x2);}
.title_con h3{ margin-bottom: var(--mrgn); color: var(--color-point);}
.title_con h3:before{ position: absolute; top: calc(var(--mrgn) * -1.5); left: 0; content: ''; width: calc(var(--mrgn-x4)); height: var(--mrgn); background: url(../img/icon_common.webp) no-repeat 50% 50% / cover;}
.title_con h3.no_b{ color: var(--color-sub);}
.title_con h3.no_b:before{ display: none;}
.title_con.center h3:before{ left: 50%; transform: translateX(-50%);}
.title_con h4{ margin-bottom: var(--mrgn);}
.title_con h4:before{ position: absolute; top: calc(var(--mrgn) * -1); left: 0; content: ''; width: var(--mrgn-x4); height: 4px; background: url(../img/stroke.svg) no-repeat 50% 50% / cover;}
.title_con.center h4:before{ left: 50%; transform: translateX(-50%); background: url(../img/stroke_c.svg) no-repeat 50% 50% / cover;}
.title_con h5{}
.title_con h6{}


.sections .width_con .title_con h2,
.sections .width_con .title_con h3,
.sections .width_con .title_con h4,
.sections .width_con .title_con h5,
.sections .width_con .title_con h6{ opacity: 1; filter: blur(0); transform: translateX(0); transition: all 1200ms ease-out;}
.sections .width_con .title_con h4:before{ transition: inherit;}

.sections .width_con .title_con h1,
.sections .width_con .title_con h2{ transition-delay: 200ms;}
.sections .width_con .title_con h4{ transition-delay: 400ms;}
.sections .width_con .title_con h5{ transition-delay: 600ms;}
.sections .width_con .title_con h6{ transition-delay: 800ms;}

.sections.wait_scroll .width_con .title_con h2,
.sections.wait_scroll .width_con .title_con h3,
.sections.wait_scroll .width_con .title_con h4,
.sections.wait_scroll .width_con .title_con h5,
.sections.wait_scroll .width_con .title_con h6{ opacity: 0; filter: blur(4px); transform: translateX(calc(var(--mrgn-x2)*-1));}
.sections.wait_scroll .width_con .title_con h4:before{ width: var(--mrgn-x8);}

ul.v_con{ width: calc(100% + var(--mrgn-x2)); margin: 0 calc(var(--mrgn) * -1) calc(var(--mrgn-x2) * -1);}
ul.v_con > li.cells{ position: relative; display: inline-block; margin: 0 var(--mrgn) var(--mrgn-x2); width: calc(100% - var(--mrgn-x2));}
ul.v_con > li.cells.box{ transform: scale(1); transition: all 100ms ease-in-out;}



ul.v_con > li.cells.box:has(> a){ }
ul.v_con > li.cells.box:hover:has(> a){}
ul.v_con > li.cells.box:active:has(> a){ transform: scale(.975);}

ul.v_con > li.cells.box > a{ display: block; aspect-ratio: inherit; transition: inherit; box-shadow: 0 10px 30px -10px var(--color-k-065); filter: brightness(1);}
ul.v_con > li.cells.box a{ text-decoration: none;}
ul.v_con > li.cells.box:hover > a{  box-shadow: 0 10px 30px -10px var(--color-k); filter: brightness(1.1);}
ul.v_con > li.cells.box:active > a{ box-shadow: 0  1px  3px  -1px var(--color-k); filter: brightness( .9);}
ul.v_con > li.cells > img,
ul.v_con > li.cells > a > img{ width: 100%;}


ul.v_con.two_con   > li.cells{ width: calc(50%     - var(--mrgn-x2));}
ul.v_con.three_con > li.cells{ width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.four_con  > li.cells{ width: calc(25%     - var(--mrgn-x2));}
ul.v_con.five_con  > li.cells{ width: calc(20%     - var(--mrgn-x2));}
ul.v_con.six_con   > li.cells{ width: calc(16.666% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n-1){   width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n){     width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n-1){  width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n){    width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.semi_two_con > li.cells:nth-child(2n-1){ width: calc(    20% - var(--mrgn-x2));}
ul.v_con.semi_two_con > li.cells:nth-child(2n){   width: calc(    80% - var(--mrgn-x2));}


.text_con{ position: absolute; bottom: 0; left: 0; padding: var(--mrgn-half); width: 100%; box-sizing: border-box; text-shadow: 0 0 6px var(--color-k-035);}
ul.v_con > li.cells .text_con:has(> h4){ padding: var(--mrgn);}
ul.v_con > li.cells .text_con h4,
ul.v_con > li.cells .text_con h5,
ul.v_con > li.cells .text_con h6{ color: var(--color-w); line-height: 1.15em; margin-top: var(--mrgn-half);}
ul.v_con > li.cells .text_con h4{}
ul.v_con > li.cells .text_con h5{}
ul.v_con > li.cells .text_con h6{}


.ratio_1x1{  aspect-ratio:  1/1;}
.ratio_1x2{  aspect-ratio:  1/2;}
.ratio_2x1{  aspect-ratio:  2/1;}
.ratio_3x4{  aspect-ratio:  3/4;}
.ratio_4x3{  aspect-ratio:  4/3;}
.ratio_16x9{ aspect-ratio: 16/9;}
.ratio_9x16{ aspect-ratio: 9/16;}

#header.sections.section_00,
#header.sections.section_00.scrolled:hover{ position: fixed; top: var(--mrgn); left: 0; width: 100%; height: 80px;  z-index: 999;  transition: all 200ms ease-in-out; box-shadow: 0 0 0 0 var(--color-k-000);}
#header.sections.section_00 .width_con img.bg_h{ position: absolute; width: calc(var(--basic-width) + var(--mrgn-x4)); left:50%; transform: translateX(-50%); transition: all 250ms ease-in-out;}

#header.sections.section_00 .width_con{ padding: 0; z-index: 1; transition: inherit;}
#header.sections.section_00 .width_con a.btn_home{ position: absolute; height: calc(var(--mrgn-x2) + var(--mrgn-half)); top: calc(var(--mrgn-half) + 4px); transition: inherit;}
#header.sections.section_00 .width_con a.btn_home img{ height: 100%;}
#header.sections.section_00 .width_con a.btn_home.small{ display: none;}

#header.sections.section_00 .width_con > ul{ position: absolute; right: 0;}
#header.sections.section_00 .width_con > ul > li{ display: inline-block; transition: all 100ms ease-in-out; color: var(--color-w-035);}
#header.sections.section_00 .width_con > ul > li > a{ display: block; color: var(--color-w); text-decoration: none; transition: inherit; text-transform: uppercase; transform: translateY(0);}
#header.sections.section_00 .width_con > ul:hover > li > a{ color: var(--color-w-050);}
#header.sections.section_00 .width_con > ul:hover > li > a img.icon_h{ opacity: .5;}
#header.sections.section_00 .width_con > ul > li:hover > a img.icon_h{ opacity: 1;}
#header.sections.section_00 .width_con > ul > li:hover > a{ color: var(--color-w);}
#header.sections.section_00 .width_con > ul > li:active > a{ transform: translateY(1px);}

#header.sections.section_00 .width_con ul.nav_gnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_gnb{ top: 16px; transition: inherit; opacity: 1; filter: blur(0); pointer-events: all;}
#header.sections.section_00.scrolled .width_con ul.nav_gnb{ top: 8px; opacity: 0; filter: blur(4px); pointer-events: none;}
#header.sections.section_00 .width_con ul.nav_gnb > li{ margin-left: var(--mrgn);}
#header.sections.section_00 .width_con ul.nav_gnb > li > a{ font-size: .85em;}
#header.sections.section_00 .width_con ul.nav_gnb > li > a img.icon_h{ height: 18px; top: -2px; position: relative;}

#header.sections.section_00 .width_con ul.nav_lnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_lnb{ top: var(--mrgn-x2); transition: inherit;}
#header.sections.section_00.scrolled .width_con ul.nav_lnb{ top: calc(var(--mrgn) + calc(var(--mrgn) / 2));}
#header.sections.section_00 .width_con ul.nav_lnb > li{ margin-left: var(--mrgn-x2);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a{ position: relative; font-size: 1.15em;}
#header.sections.section_00 .width_con ul.nav_lnb > li a:after{ position: absolute; content: ''; bottom: -4px; left: 0; width: 0; height: 3px; background:url(../img/stroke_c.svg); opacity: 0; filter: blur(2px) brightness(100); transition: all 200ms ease-out;}
#header.sections.section_00 .width_con ul.nav_lnb > li:hover a:after{ width: 100%; opacity: 1; filter: blur(0) brightness(100);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a.buy{ color: var(--color-main);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a.buy:before{ content: ''; position: absolute; width: 140%; height: 220%; top: -45%; left: -17%; background: url(../img/btn_brush.webp) no-repeat 0 0 / contain; mask-image: linear-gradient(90deg, var(--color-k) 0, var(--color-k-050) 70%);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a.buy:after{ filter: invert(1);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a.buy > span{ position: relative; z-index: 1; font-weight: 600;}

body.not_yet #header.sections.section_00 .width_con img.bg_h{ mask-image: url(../img/bg_header_mask.webp); mask-repeat: no-repeat; mask-size: 110%; mask-position: 0%; transition: all 1000ms ease-out 300ms;}
body.not_yet #header.sections.section_00 .width_con a.btn_home,
body.not_yet #header.sections.section_00 .width_con ul > li{ transform: translateX(0); opacity: 1; filter: blur(0); transition: all 400ms ease-out;}
html.loading body.not_yet #header.sections.section_00 .width_con a.btn_home,
html.loading body.not_yet #header.sections.section_00 .width_con ul > li{ transform: translateX(calc(var(--mrgn)*-1)); opacity: 0; filter: blur(4px); transition: all 400ms ease-out;}
html.loading body.not_yet #header.sections.section_00 .width_con img.bg_h{ mask-position: 1100%; transition: all 1000ms ease-out 300ms;}
body.not_yet #header.sections.section_00 .width_con a.btn_home{ transition-delay: 500ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_gnb > li{}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li{}

body.not_yet #header.sections.section_00 .width_con ul.nav_gnb > li:nth-child(1){ transition-delay: 1200ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_gnb > li:nth-child(2){ transition-delay: 1300ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_gnb > li:nth-child(3){ transition-delay: 1400ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_gnb > li:nth-child(4){ transition-delay: 1500ms;}

body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(1){ transition-delay: 1000ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(2){ transition-delay: 1100ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(3){ transition-delay: 1200ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(4){ transition-delay: 1300ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(5){ transition-delay: 1400ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(6){ transition-delay: 1500ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(7){ transition-delay: 1600ms;}
body.not_yet #header.sections.section_00 .width_con ul.nav_lnb > li:nth-child(8){ transition-delay: 1700ms;}

#footer.sections.section_12{ position: fixed; bottom: 0; left: 0; width: 100%; padding-top: var(--mrgn-x2); background: url(../img/bg_footer.webp) no-repeat 50% 100% / cover;}
#footer.sections.section_12 > .width_con{ padding: var(--mrgn-x8) 0 var(--mrgn-x3);
}
#footer.sections.section_12 > .width_con > .company{ color: #b7b7b7; text-align: center;}
#footer.sections.section_12 > .width_con > .company > img{ height: var(--mrgn-x3); margin: 0 var(--mrgn) var(--mrgn-x2); filter: drop-shadow(0 0 var(--mrgn-x2) #000) drop-shadow(0 0 var(--mrgn) #000);}
#footer.sections.section_12 > .width_con > .company > img:first-child{ height: var(--mrgn-x12);}
#footer.sections.section_12 > .width_con > .company > h4{}
#footer.sections.section_12 > .width_con > .company > .presentation{ margin-top: var(--mrgn-x2); display: inline-block; text-align: inherit;}
#footer.sections.section_12 > .width_con > .company > h5.presentation{}
#footer.sections.section_12 > .width_con > .company > h6.presentation{ margin-top: var(--mrgn-x2);}
#footer.sections.section_12 > .width_con > .company > .presentation > a{ color: var(--color-sub); position: relative; float: left; margin: 0 calc(var(--mrgn) * .75); vertical-align: top;}
#footer.sections.section_12 > .width_con > .company > .presentation > a:after{ content: ''; position: absolute; top: 0; right: calc(var(--mrgn) * -.75);  width: 1px; height: 100%; background: var(--color-sub); opacity: .25;}
#footer.sections.section_12 > .width_con > .company > .presentation > a:last-child:after{ display: none;}
#footer.sections.section_12 > .width_con > .company > h5.presentation > a{}
#footer.sections.section_12 > .width_con > .company > h6.presentation > a{}
#footer.sections.section_12 > .width_con > .company > .copy{ margin-top: var(--mrgn-x2);}
#footer.sections.section_12 > .width_con > .company > .copy > h5{}
#footer.sections.section_12 > .width_con > .company > .copy > h5 > b{ font-weight: 500;}
#footer.sections.section_12 > .width_con > .company > .copy > h6{}
#footer.sections.section_12 > .width_con > .company > .age_notice{ display: inline-block; margin: var(--mrgn-x4) 0 0; background: var(--color-k-050); padding: var(--mrgn-half); backdrop-filter: 5px;}
#footer.sections.section_12 > .width_con > .company > .age_notice > img{ height: var(--mrgn-x4); margin: 0 var(--mrgn-half);}
#footer.sections.section_12 .air_bubbles_con{ position: absolute; bottom: 0; left: 0; width: 100vw; height: 100vh; overflow: hidden;}
#footer.sections.section_12 .air_bubbles_con .air_bubbles{ position: absolute; top: 100%; left: 0; width: var(--mrgn-x2); aspect-ratio: 1/1; animation: a_movement 2300ms ease-in-out infinite; margin-left: -25px; transform: scale(.1); transition: transform 20000ms linear;}
#footer.sections.section_12 .air_bubbles_con .air_bubbles .bubble{ position: absolute; top: 40%; left: 50%; aspect-ratio: 1/1; background: var(--color-w-015); box-shadow: inset 0 0 3px 0 var(--color-w-015); border-radius: 50%; transform: translate(-50%, -50%); animation: b_movement 3000ms ease-out infinite;}

html.loading #loading_cover{ opacity: 1;}
#loading_cover{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: var(--color-main); opacity: 0; z-index: 9999;} 
#loading_cover > .loading_icon{ position: absolute; background: url(../img/icon_loading.svg) no-repeat 50% 50% / cover; width: 8%; height: 4%; top: 50%; left: 50%; transform: translate(-50%, -50%); clip-path: circle(0%); mask-image: radial-gradient(circle, black 0%, transparent 100%); animation: loading 2000ms ease-in-out infinite;}